/* Selected text is draggable by default this prevents Ctrl-a select all, 
   which causes the drag image to consist of all text on the screen */
* {
    user-select: none;
}

:root, [data-theme="blue"] {
    --border-color: white;
    --bg-color: black;
    --text-color-active: black;
    --text-color-inactive: #ffffff;
    --fmenu-active: #2196F3;
    --fmenu-inactive: #0D47A1;
    --emenutitlebar-bg: #303F9F;
    --emenutitlebar-element-bg-inactive: #1A237E;
    --emenutitlebar-element-bg-active: #9FA8DA;
    --emenu-outer-border: 2px solid var(--border-color);
    --emenutitlebar-bottom-border: 2px solid var(--border-color);
    --viewbar-outer-border: 2px solid var(--border-color);
    --emenu-thumb-scroll: #e6e6e6;
    --viewbar-right-highlight: cyan;
    --viewbar-background: color-mix(in srgb, var(--emenutitlebar-bg) 50%, black);
    --dummy-divider: orange;
    --searchbox-bg-color: #E8EAF6;
    --gradient-inner: #AF0404;
    --gradient-outer: gold;
    --widget-mouse-over-highlight: transparent;
    --widget-mouse-over-border: 2px solid white;
    --widget-mouse-over-border-modifier-down: 2px solid red;
    --folderbox-element-drag-over: #004d99;
}

[data-theme="red"] {
    --border-color: #444444;
    --bg-color: black;
    --text-color-active: black;
    --text-color-inactive: white;
    --fmenu-active: #EF9A9A;
    --fmenu-inactive: #D50000;
    --emenutitlebar-bg: #F44336;
    --emenutitlebar-element-bg-inactive: #C62828;
    --emenutitlebar-element-bg-active: #FFCDD2;
    --emenu-outer-border: 2px solid var(--border-color);
    --emenutitlebar-bottom-border: 2px solid var(--border-color);
    --viewbar-outer-border: 2px solid var(--border-color);
    --emenu-thumb-scroll: #e6e6e6;
    --viewbar-right-highlight: #FFEBEE;
    --viewbar-background: color-mix(in srgb, var(--emenutitlebar-bg) 80%, black);
    --dummy-divider: orange;
    --searchbox-bg-color: #E0F2F1;
    --gradient-inner: #AF0404;
    --gradient-outer: gold;
    --widget-mouse-over-highlight: transparent;
    --widget-mouse-over-border: 2px solid white;
    --widget-mouse-over-border-modifier-down: 2px solid red;
    --folderbox-element-drag-over: #004d99;
}

[data-theme="green"] {
    --border-color: #E0F2F1;
    --bg-color: black;
    --text-color-active: black;
    --text-color-inactive: white;
    --fmenu-active: #80CBC4;
    --fmenu-inactive: #004D40;
    --emenutitlebar-bg: #00796B;
    --emenutitlebar-element-bg-inactive: #009688;
    --emenutitlebar-element-bg-active: #A7FFEB;
    --emenu-outer-border: 2px solid var(--border-color);
    --emenutitlebar-bottom-border: 2px solid var(--border-color);
    --viewbar-outer-border: 2px solid var(--border-color);
    --emenu-thumb-scroll: #e6e6e6;
    --viewbar-right-highlight: cyan;
    --viewbar-background: color-mix(in srgb, var(--emenutitlebar-bg) 80%, black);
    --dummy-divider: orange;
    --searchbox-bg-color: #E0F2F1;
    --gradient-inner: #AF0404;
    --gradient-outer: gold;
    --widget-mouse-over-highlight: transparent;
    --widget-mouse-over-border: 2px solid white;
    --widget-mouse-over-border-modifier-down: 2px solid red;
    --folderbox-element-drag-over: #004d99;
}

[data-theme="lightblue"] {
    --border-color: black;
    --bg-color: #E1F5FE;
    --text-color-active: black;
    --text-color-inactive: black;
    --fmenu-active: #80D8FF;
    --fmenu-inactive: #03A9F4;
    --emenutitlebar-bg: #B3E5FC;
    --emenutitlebar-element-bg-inactive: #81D4FA;
    --emenutitlebar-element-bg-active: #E1F5FE;
    --emenu-outer-border: 2px solid var(--border-color);
    --emenutitlebar-bottom-border: 2px solid var(--border-color);
    --viewbar-outer-border: 2px solid var(--border-color);
    --emenu-thumb-scroll: #e6e6e6;
    --viewbar-right-highlight: cyan;
    --viewbar-background: color-mix(in srgb, var(--emenutitlebar-bg) 85%, white);
    --dummy-divider: orange;
    --searchbox-bg-color: #E0F2F1;
    --gradient-inner: #0091EA;
    --gradient-outer: #80D8FF;
    --widget-mouse-over-highlight: transparent;
    --widget-mouse-over-border: 2px solid blue;
    --widget-mouse-over-border-modifier-down: 2px solid red;
    --folderbox-element-drag-over: #004d99;
}

[data-theme="oldtheme"] {
    --border-color: white;
    --bg-color: black;
    --text-color-active: black;
    --text-color-inactive: white;
    --fmenu-active: gold;
    --fmenu-inactive: red;
    --emenutitlebar-bg: #AF0404;
    --emenutitlebar-element-bg-inactive: #840a01;
    --emenutitlebar-element-bg-active: #ff9100;
    --emenu-outer-border: 2px solid var(--border-color);
    --emenutitlebar-bottom-border: 2px solid var(--border-color);
    --viewbar-outer-border: 2px solid var(--border-color);
    --emenu-thumb-scroll: #e6e6e6;
    --viewbar-right-highlight: lime;
    --viewbar-background: color-mix(in srgb, var(--emenutitlebar-bg) 50%, black);
    --dummy-divider: orange;
    --searchbox-bg-color: wheat;
    --gradient-inner: #AF0404;
    --gradient-outer: gold;
    --widget-mouse-over-highlight: transparent;
    --widget-mouse-over-border: 2px solid white;
    --widget-mouse-over-border-modifier-down: 2px solid red;
    --folderbox-element-drag-over: #004d99;
}


body {
    /* font-family: Segoe UI, sans-serif; */
    font-family: Trebuchet MS, sans-serif;
    font-size: 1vw;
    background-color:var(--bg-color);
    color: var(--text-color-inactive);
    /* default left and right borders are set to 8px is set 
    to 0 or else menus will clipped left and right by 8px */
    margin: 8px 0 0 0;
    /* clip overflow to prevent scrolling in x direction, also hides scrollbars in addition to display: none below  */
    /* overflow-y: hidden is omitted, to allow mouse wheel scrolling with hidden scrollbar (hidden by display: none below) */
    overflow-x: hidden;
}

/* blinking and styling of dragon bookmark manager :tablink widget */
.blink {
    font-variant: small-caps;
    text-decoration: underline;
    animation: blink 0.5s step-start 0s infinite;
    animation-iteration-count: 10;
}

@keyframes blink {
    50% {
	opacity: 0.0;
    }
}

/* hide scrollbars in addition to overflow hidden above */
html::-webkit-scrollbar, body::-webkit-scrollbar, #dndmenu::-webkit-scrollbar, #my-panel::-webkit-scrollbar {
   display: none;
 
}

.ViewBar {
    background: var(--viewbar-background);
    display: flex;
    margin: auto;
    width: 90vw;
    border: var(--viewbar-outer-border);
    justify-content: space-evenly;
}

.ViewBarButtonContainer {
    background-color: var(--emenutitlebar-element-bg-inactive);
    position: relative;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ViewBarButton {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}


.Left {
    left: 0;
    background: rgba(225, 225, 225, .1);
}

.Left:hover {
    background: var(--fmenu-inactive);
    opacity: 0.5;
}

.Right {
    right: 0;
    background: rgba(225, 225, 225, .3);
}

.Right:hover {
    background: var(--viewbar-right-highlight);
    opacity: 0.5;
}

.ViewButtonTitle {
    max-width: 9vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

a:link, a:visited, a:link:active, a:visited:active {
  color: white;
  text-decoration: none;
  cursor: auto;
}

.Menu {
  border: 4px solid var(--fmenu-inactive)
}

.Menu:hover {
  border: 4px solid var(--fmenu-active);
}

.MenuTitleBar {
    cursor: move; 
    background-color: var(--fmenu-inactive);
    color: var(--text-color-inactive);
    border-bottom: 2px solid --bg-color;
}

.TitleBarText {
    height: 100%;
    line-height: 40px;
    margin: auto;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* text-indent: 10px; */
}

/* Necessary: Sets titlebar color when anywhere on .Menu is being hovered.  */
/*.Menu:hover .resizer-r,
.Menu:hover .resizer-l,
.Menu:hover .resizer-b,
.Menu:hover .resizer-t, */

.Menu:hover .MenuTitleBar
{
    background-color: var(--fmenu-active);
    color: var(--text-color-active);
} 




/* Placed on the right side of Menu */
.resizer-r {
    position: absolute;
    cursor: col-resize;
    height: calc(100% + 16px);
    right: -8px;
    top: -8px;
    width: 8px;
    background-color: rgba(0,0,0,0);
}

/* Placed on the left side of Menu */
.resizer-l {
    position: absolute;
    cursor: col-resize;
    height: calc(100% + 16px);
    left: -8px;
    top: -8px;
    width: 8px;
    background-color: rgba(0,0,0,0);
}


/* Placed at the bottom side of Menu */
.resizer-b {
    position: absolute;
    bottom: -8px;
    cursor: row-resize;
    height: 8px;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0);
}

/* Placed at the bottom side of Menu */
.resizer-t {
    position: absolute;
    top: -8px;
    cursor: row-resize;
    height: 8px;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0);
}


.MenuPinBtn {
    /* left: 10px;
    top: 3px; */
    background-color: var(--fmenu-inactive);
    border: 1px solid transparent; 

}

.MenuPinBtn:hover {
    cursor: pointer;
    background-color: var(--fmenu-active);
    border: 1px solid black;
}

.Menu:hover .MenuPinBtn {
    background-color: var(--fmenu-active);
}


.MenuArrowBtn {
    cursor: pointer;
    background-color: var(--fmenu-inactive);
}
.MenuArrowBtn:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--fmenu-active) 90%, black) !important; /* #e6c200 instead of #e6c300 */
}
.Menu:hover .MenuArrowBtn {
    background-color: var(--fmenu-active);
}



.MenuCloseBtn {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--fmenu-inactive) 70%, black) !important; /* #990000 instead of brown */
}
.MenuCloseBtn:hover {
    cursor: pointer;
    background-color:  color-mix(in srgb, var(--fmenu-active) 90%, black) !important; /* #e6c200 instead of #e6c300 */
}

.EmbeddedMenu {
    background-color: var(--emenutitlebar-bg);
    border: var(--emenu-outer-border);
    width: 90vw;
    margin: auto;
}

.EmbeddedMenuTitleBar {
    background-color: var(--emenutitlebar-bg);
    height: 40px;
    border-bottom: var(--emenutitlebar-bottom-border);
    cursor: default;
    user-select: none;
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 1fr;
}

.EmbeddedMenuButton {
    color: var(--text-color-inactive);
    cursor: pointer;
    background-color: var(--emenutitlebar-element-bg-inactive);
}
.EmbeddedMenuButton:hover {
    color: var(--text-color-active) !important;
    background-color: var(--emenutitlebar-element-bg-active) !important;
}

.tabbtn-inactive, .historybtn-inactive {
    color: var(--text-color-inactive);
    cursor: pointer;
    background-color: var(--emenutitlebar-element-bg-inactive);
}
.tabbtn-inactive:hover, .historybtn-inactive:hover {
    color: var(--text-color-active) !important;
    background-color: var(--emenutitlebar-element-bg-active) !important;
}

.tabbtn-active, .historybtn-active {
    color: var(--text-color-active);
    cursor: pointer;
    background-color: var(--emenutitlebar-element-bg-active);
}
.tabbtn-active:hover, .historybtn-active:hover {
    color: var(--text-color-active) !important;
    background-color: var(--emenutitlebar-element-bg-active) !important;
}

.RecentlyModified {
    font-family: Segoe UI, sans-serif;
    font-size: 1vw;
    margin-left: 20px;
    width: 166px;
    border: 2px solid black;
    outline: none;
    color: var(--text-color-inactive);
    cursor: pointer;
    background-color: var(--emenutitlebar-element-bg-inactive);
}

.RecentlyModified:hover {
    color: var(--text-color-active); 
    background-color: var(--emenutitlebar-element-bg-active);
}

/* color of recently modified dropdown elements
   the select option elements defaults to blue 
   highlight and can't be changed in css  */
option {
    font-family: Segoe UI, sans-serif;
    font-size: 1vw;
    color: var(--text-color-inactive);
    cursor: pointer;
    background-color: var(--emenutitlebar-element-bg-inactive);
}

/* colors background of area surrounding textinput box */
#search {
    /* old color: #970c02 new color same as elements */
    background-color: var(--emenutitlebar-element-bg-inactive);
    cursor: pointer;
    /* border-radius: 15px; */
}

#searchBox {
    background-color: var(--searchbox-bg-color);
}

#search:hover {
    background-color: var(--emenutitlebar-element-bg-active);
    /* rgb(132, 10, 1); */
}

.search-not-found {
    /* old text color: wheat */
    cursor: pointer;
    color: var(--text-color-inactive);
}

.search-not-found:hover {
    /* old text color: orange */
    color: var(--text-color-inactive);
    background-color: var(--emenutitlebar-bg);
}

.loadButton {
    background-color: var(--emenutitlebar-element-bg-inactive);

}

.loadButton:hover {
    background-color: var(--emenutitlebar-element-bg-active);
    color: var(--text-color-active);
}

.PlusMinusButton {
    cursor:pointer;
}
 
.draggable {
   border: 1px solid red; 
   width: 250px;
   height: 100px;
   text-align: center;
   padding: 20px;
   /* cursor: move; */
   position: relative;
}

.hoverBGColor {
    background-color:green
}

/* applies to all classes starting with string "icon" */
[class^="icon"] {
/*  width: 24px; */
/*  height: 24px; */
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
  /* fill: #fff; */
}

.draggable .drag-mask, .drag-mask {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 0px;
   height: 0px;
   background-color: rgba(0,0,0,0.2);
   z-index: 9999;
}

/* --------------------------- freeze elements during dragging --------------------------- */
.disable-pointer-events {
    pointer-events: none;
    
}


.frozen-menu  {
  border: 4px solid var(--fmenu-active);
}

.frozen-menutitlebar
{
    background-color: var(--fmenu-active);
    color: var(--text-color-active);
} 

.frozen-menupinbtn,.frozen-menupinbtn:hover,
.frozen-MenuArrowBtn,.frozen-MenuArrowBtn:hover {
    background-color: var(--fmenu-active);
}


/* On menu fix color of thumb and resizer */
.frozen-menu .drop-zone-floating::-webkit-scrollbar-thumb
{
    /* old color: #ccad00 */
    /* color of thumb: same as titlebar: red with gold on hover */
    background-color: color-mix(in srgb, var(--fmenu-active) 90%, black); 
}

.frozen-menu .drop-zone-floating::-webkit-resizer {
    background: var(--fmenu-active);
}



/* --------------------------- end freeze  ----------------------------------------------- */


/* --------------------------- start drop-zone --------------------------- */




.drop-zone-floating {
    max-height: 80vh; 
    /* Kept for aesthetic */
    padding-bottom: 5px;
    text-align: left; /* text-align is an inherited property */
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: auto; 

    resize: both;

    grid-auto-flow: column;
    position: relative; /* so that an empty dropzone can have it's blank element positioned absolutely */

    background-color: var(--bg-color);
    color: var(--text-color-inactive);
}

.drop-zone-embedded {
    text-align: left; /* text-align is an inherited property */
    /* for some reason without this padding scroll bar appears whenever dragging occurs. Maybe box-sizing? */
    padding: 0px 15px 5px 15px; /* 15px padding takes up too much space */
    box-sizing: border-box;
    /* https://www.w3schools.com/cssref/css3_pr_overflow-y.asp (see "Property Values" at bottom for defaults and explanations) */
    /* overflow-y: auto: Should cause a scrolling mechanism to be provided for overflowing boxes, but not otherwise */
    overflow-x: hidden;
    overflow-y: auto; 

    min-width: 0;
    width: auto;
    resize: none;

    grid-auto-flow: column;

    position: relative; /* so that an empty dropzone can have it's blank element positioned absolutely */

    background-color: var(--bg-color);
    color: var(--text-color-inactive);
}
/* --------------------------- end drop-zone --------------------------- */

/* --------------------------- scrollbars --------------------------- */
						  
.drop-zone-floating::-webkit-scrollbar-track
{
	background-color: transparent; /* color of  track */
}

.drop-zone-floating::-webkit-scrollbar
{
	width: 15px; /* width of the entire scrollbar */
	background-color: transparent;
}

/* thumb hovering can only occur after menu has been hovered and so is set below */
.drop-zone-floating::-webkit-scrollbar-thumb
{
    /* computes to exactly old color if --fmenu-inactive is red: #cc0000 */
    /* color of thumb: same as titlebar: red with gold on hover */
    background-color: color-mix(in srgb, var(--fmenu-inactive) 80%, black) ; 

}

.drop-zone-floating::-webkit-resizer {
    background: var(--fmenu-inactive);
}



/* Necessary: On menu hover set color of thumb scroller to active color shaded */
.Menu:hover .drop-zone-floating::-webkit-scrollbar-thumb
{
    /* old color #ccad00 new color #ccac00 where --fmenu-active is gold */
    background-color: color-mix(in srgb, var(--fmenu-active) 80%, black) !important; 

}

.Menu:hover .drop-zone-floating::-webkit-resizer {
    background: var(--fmenu-active);
}


/* Necessary: On menu hover and hover over thumb scroller set color of thumb scroller 
              to active color shaded shaded again darker */
.Menu:hover .drop-zone-floating::-webkit-scrollbar-thumb:hover
{
    /* old color #b39800 new color #b39700 where --fmenu-active is gold */
    background-color: color-mix(in srgb, var(--fmenu-active) 70%, black) !important; 
}



.drop-zone-embedded::-webkit-scrollbar-track
{
    background-color: transparent; /* color of  track */
}

.drop-zone-embedded::-webkit-scrollbar
{
	width: 10px; /* width of the entire scrollbar */
	background-color: transparent;
}


.drop-zone-embedded::-webkit-scrollbar-thumb
{
    background-color: var(--emenu-thumb-scroll); 

}

/* On embedded dropzone hover set color of thumb  */
.drop-zone-embedded::-webkit-scrollbar-thumb:hover
{
    /* old color: #cccccc new color #a1a1a1 */
    background-color: color-mix(in srgb, var(--emenu-thumb-scroll) 70%, black); 

}

/* --------------------------- end scrollbars --------------------------- */

/* --------------------------- fade alert --------------------------- */

.fade-alert {
    color: yellow;
    white-space: nowrap;
    animation-name: fadeout;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    0% { opacity: 1;
	 visibility: visible;
       }
    100% { opacity: 0;
	   visibility: hidden;
	 }
}


/* --------------------------- end fade alert --------------------------- */





@keyframes avoid-flicker-disappear {
  from {background-color: var(--dummy-divider);}
  to {background-color: transparent;}
}


.dummy-element {
    height: 100%;
    background-color: transparent;
}

.dummy-element_drag_leave {
    height: 100%;
    background-color: transparent;
}

.dummy-element_drag_over {
    height: 100%;
    width: 100%;
    /* the purpose of the gradient is for the lastincol dummy elements, which extend beyond 4px */
    background: linear-gradient(to bottom, var(--dummy-divider) 4px, rgba(0,0,0,0) 4px, rgba(0,0,0,0) 100%);
    /* background-color: orange;    */

}

/* this class applies a gradient if the tablink, historylink, link, or folderbox widget is selected */
.selected-widget {
    background-image: radial-gradient(circle at center, var(--gradient-inner) 0%, var(--gradient-outer) 100%);
}

/* widget border logic :
cond the contextmenuVisible? and rightclicked? then lock border eg. 2px solid white
cond selected? then using gradient overwrite to shrink border 
else transparent, and let hover work as normal */
.rightclick-lock-border { 
   border: 2px solid white !important;
}

.selected-mask-border {
   border: 2px solid black !important;
}

.transparent-border {
   border: 2px solid transparent !important;
}

/* this class is added to turn off hover highlight in :link, :tablink, and :historylink when dragging is occuring:
:class (if @currentDragState "link-element no-hover" "link-element") */
.no-hover {} 


.link-element {
    height: 100%;
    cursor: default;
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    position: relative;
}

.link-element:not(.no-hover):hover {
    /* !important is to override the :background-color conditional ctrl-click selection highlight which will lock out all background-color settings */
    background-color: var(--widget-mouse-over-highlight);
    /* you cannot put !important in the css var */
    border: var(--widget-mouse-over-border) !important;
    cursor: pointer;
}

.link-element-modifier-down {
    height: 100%;
    cursor: default;
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    position: relative;
}

.link-element-modifier-down:not(.no-hover):hover {
    /* you cannot put !important in the css var */
    border: var(--widget-mouse-over-border-modifier-down) !important;
    cursor: pointer;
} 


.folderbox-element {
    height: 100%;
    cursor: default;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    position: relative;    
}

.folderbox-element:not(.no-hover):hover {
    background-color: var(--widget-mouse-over-highlight);
    /* you cannot put !important in the css var */
    border: var(--widget-mouse-over-border) !important;
    cursor: pointer;
}

.folderbox-element-modifier-down {
    height: 100%;
    cursor: default;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    position: relative;    
}

.folderbox-element-modifier-down:not(.no-hover):hover {
    /* you cannot put !important in the css var */
    border: var(--widget-mouse-over-border-modifier-down) !important;
    cursor: pointer;
}


.folderbox-element_drag_over {
    cursor: default;
    background-color: var(--folderbox-element-drag-over);
}




.drop-zone.highlight {
    border: 3px solid green;
}

.drag-box {
  position: fixed;
  background-color: rgba(0,0,0,0.2);
  z-index: 999;
  height: 0px;
  width: 0px;
}


.drop-marker {
   width: 100%;
   height: 4px;
   margin-bottom: 5px;
   background-color: orange;
}



.container {
   width: 800px;
   margin: 0 auto;
   border: 1px solid #ededed;
}


.box {
   width: 100%;
   height: 60px;
   margin-bottom: 5px;
   padding-top: 30px;
   color: white;
}


.clear {
  clear: both;
}

.red-box {
   background-color: #d62a3b;
}

.blue-box {
   background-color: #486fad;
}

.draggable {
   margin-bottom: 10px;
}


.btn {
   margin: 20px;
   padding: 20px;
   background-color: #ededed;
   border: 1px solid #ccc;
}

/* ---------- Tooltip ------------------------------------------------------------------------------------------------------ */
.tooltip {
    padding-top: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background-color: black;
    width: calc(1440px * 0.16);
}
.title {
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.hostname {
    display: flex;
    align-items: center;
    
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.hostname span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* This container helps the thumbnail behave as if it were an unscaled IMG element */
.thumbnail-container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: calc(1440px * 0.16);
    height: calc(900px * 0.16);
    overflow: hidden;
    position: relative;
    background: #f9f9f9;
}

/* This is a masking container for the zoomed iframe element */
.thumbnail {
  -ms-zoom: 0.16;
  -moz-transform: scale(0.16);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.16);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.16);
  -webkit-transform-origin: 0 0;
}
/* This is our screen sizing */
.thumbnail,
.thumbnail iframe {
  width: 1440px;
  height: 900px;
}
/* This facilitates the fade-in transition instead of flicker. It also helps us maintain the illusion that this is an image, since some webpages will have a preloading animation or wait for some images to download */
.thumbnail iframe {
  opacity: 1;
  transition: all 300ms ease-in-out;
}
/* This pseudo element masks the iframe, so that mouse wheel scrolling and clicking do not affect the simulated "screenshot" */
.thumbnail:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}



/* ---------- Context Menu Styles ------------------------------------------------------------------------------------------ */

/* For google closure goog.ui.Menu and goog.ui.MenuItems taken from:
 * https://github.com/google/closure-library/blob/master/closure/goog/css/menu.css 
 */

/*
 * Standard styling for menus created by goog.ui.MenuRenderer.
 */

.goog-menu {
  background: #fff;
  border-color: #ccc #666 #666 #ccc;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  font: normal 13px Arial, sans-serif;
  margin: 0;
  outline: none;
  padding: 4px 0;
  position: absolute;
  z-index: 20000; /* Arbitrary, but some apps depend on it... */
}

/* Taken from:
 * https://github.com/google/closure-library/blob/master/closure/goog/css/menuitem.css
 */

.goog-menuitem {
  color: #000;
  font: normal 13px Arial, sans-serif;
  list-style: none;
  margin: 0;
  /* 28px on the left for icon or checkbox; 7em on the right for shortcut. */
  padding: 4px 7em 4px 28px;
  white-space: nowrap;
}

/* BiDi override for the resting state. */
/* @noflip */
.goog-menuitem.goog-menuitem-rtl {
  /* Flip left/right padding for BiDi. */
  padding-left: 7em;
  padding-right: 28px;
}

/* If a menu doesn't have checkable items or items with icons, remove padding. */
.goog-menu-nocheckbox .goog-menuitem,
.goog-menu-noicon .goog-menuitem {
  padding-left: 12px;
}

/*
 * If a menu doesn't have items with shortcuts, leave just enough room for
 * submenu arrows, if they are rendered.
 */
.goog-menu-noaccel .goog-menuitem {
  padding-right: 20px;
}

.goog-menuitem-content {
  color: #000;
  font: normal 13px Arial, sans-serif;
}

/* State: disabled. */
.goog-menuitem-disabled .goog-menuitem-accel,
.goog-menuitem-disabled .goog-menuitem-content {
  color: #ccc !important;
}
.goog-menuitem-disabled .goog-menuitem-icon {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}

/* State: hover. */
.goog-menuitem-highlight,
.goog-menuitem-hover {
  background-color: #d6e9f8;
  /* Use an explicit top and bottom border so that the selection is visible
   * in high contrast mode. */
  border-color: #d6e9f8;
  border-style: dotted;
  border-width: 1px 0;
  padding-bottom: 3px;
  padding-top: 3px;
}

/* State: selected/checked. */
.goog-menuitem-checkbox,
.goog-menuitem-icon {
  background-repeat: no-repeat;
  height: 16px;
  left: 6px;
  position: absolute;
  right: auto;
  vertical-align: middle;
  width: 16px;
}

/* BiDi override for the selected/checked state. */
/* @noflip */
.goog-menuitem-rtl .goog-menuitem-checkbox,
.goog-menuitem-rtl .goog-menuitem-icon {
  /* Flip left/right positioning. */
  left: auto;
  right: 6px;
}

.goog-option-selected .goog-menuitem-checkbox,
.goog-option-selected .goog-menuitem-icon {
  /* Client apps may override the URL at which they serve the sprite. */
  background: url(editortoolbar.png) no-repeat -512px 0;
}

/* Keyboard shortcut ("accelerator") style. */
.goog-menuitem-accel {
  color: #999;
  /* Keyboard shortcuts are untranslated; always left-to-right. */
  /* @noflip */ direction: ltr;
  left: auto;
  padding: 0 6px;
  position: absolute;
  right: 0;
  text-align: right;
}

/* BiDi override for shortcut style. */
/* @noflip */
.goog-menuitem-rtl .goog-menuitem-accel {
  /* Flip left/right positioning and text alignment. */
  left: 0;
  right: auto;
  text-align: left;
}

/* Mnemonic styles. */
.goog-menuitem-mnemonic-hint {
  text-decoration: underline;
}

.goog-menuitem-mnemonic-separator {
  color: #999;
  font-size: 12px;
  padding-left: 4px;
}

/*
 * https://github.com/google/closure-library/blob/master/closure/goog/css/menuseparator.css
 */

/*
 * Standard styling for menus created by goog.ui.MenuSeparatorRenderer.
 */

@provide 'goog.css.menuseparator';

.goog-menuseparator {
  border-top: 1px solid #ccc;
  margin: 4px 0;
  padding: 0;
}


/*
 * https://github.com/google/closure-library/blob/master/closure/goog/css/submenu.css
 */

/*
 * Standard styling for menus created by goog.ui.SubMenuRenderer.
 */
/* State: resting. */
/* @noflip */
.goog-submenu-arrow {
  color: #000;
  left: auto;
  padding-right: 6px;
  position: absolute;
  right: 0;
  text-align: right;
}

/* BiDi override. */
/* @noflip */
.goog-menuitem-rtl .goog-submenu-arrow {
  text-align: left;
  left: 0;
  right: auto;
  padding-left: 6px;
}

/* State: disabled. */
.goog-menuitem-disabled .goog-submenu-arrow {
  color: #ccc;
}


/* ---------- Modal Dialog Styles ------------------------------------------------------------------------------------------ */

/*
 * https://github.com/google/closure-library/blob/master/closure/goog/css/dialog.css
 */

/*
 * Standard styling for goog.ui.Dialog.
 */

@provide 'goog.css.dialog';

/* modified */
.modal-dialog {
  background: white; /* #c1d9ff; */
  border: 1px solid #3a5774; 
  color: #000;
  padding: 4px;
  border-radius: 8px;
  position: absolute;
  z-index: 1000000; /* custom, the menus start in single digits, max val is signed 32bit ~ 2billion. goog.menu context menu is 20000 above */
}

.modal-dialog a,
.modal-dialog a:link,
.modal-dialog a:visited  {
  color: #06c;
  cursor: pointer;
}

/* modified */
.modal-dialog-bg {
  background: #666;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 900000; /* custom, the menus start in single digits, max val is signed 32bit ~ 2billion. goog.menu context menu is 20000 above */
}

/* modified */
.modal-dialog-title {
  background: white; /* #e0edfe; */
  color: #000;
  cursor: pointer;
  font-size: 120%;
  margin-left: 10px;
  /* font-weight: bold; */

  /* Add padding on the right to ensure the close button has room. */
  padding: 8px 31px 8px 8px;

  position: relative;
  _zoom: 1; /* Ensures proper width in IE6 RTL. */
}


.modal-dialog-title-close {
  /* Client apps may override the URL at which they serve the sprite. */
  background: #e0edfe url(editortoolbar.png) no-repeat -528px 0;
  cursor: default;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 15px;
  vertical-align: middle;
}


.modal-dialog-buttons,
.modal-dialog-content {
  background-color: #fff;
  padding: 8px;
}

/* custom */
.modal-dialog-content{
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;		      
}

/* custom */
.modal-dialog-buttons{
    display: flex;
    justify-content: flex-end;
}

/* custom */
.modal-dialog-buttons button
{
    min-width: 5.14em;
    cursor: pointer;
    border: 1px solid;
    border-radius: 4px;
    border-color: #DADCE0;
    background-color: white;
    padding: 8px 16px;
}

/* modified */
.goog-buttonset-default
{
    border: none;
    font-weight: bold;
    color: white;
    background-color: #1A73E8 !important;

}

/* custom */
.goog-buttonset-default:hover {
    background-color: #3081EA !important;
}


/* ---------- Modal Underline Animations------------------------------------------------------------------------------------ */



input.inputDialog {
    display: block;
    margin-top: 10px;
    outline: none;
    border: none;
    background-color: #F1F3F4;
    padding: 8px;
}

input.inputDialog:invalid {
    background-color: pink;
}


.flexbox
{
  	display: flex;
}



/* Underline styles */
.underline {
	display: block;
	position: relative; /* so abs pos works */
}

/* Fade in */
.underline::after {
	content: '';
	position: absolute;
	bottom: 0; /* set to bottom of element otherwise will be on top of element */
	left: 0; /* overlap element, otherwise will be to right of element */
	width: 100%;
	height: 2px;
	background-color: blue;
	transition: transform 300ms;
}


/* Scale from center */
.underline::after {
	transform: scale(0);
	transform-origin: center;
}


/* add or remove .runanimation to .underline div to add or remove underline */
.underline.runanimation:after {
    	transform: scale(1);
}

/* ======================================================================================================= */
/* Help Dialog Styles */

.helpDialogGrid {
    display: grid;
    grid-auto-flow: row; /* row is default */
    gap: 2vw;
    grid-template-columns: max-content 40vw;
    /* grid-template-rows: 1fr 1fr; */
}

