
/* Selected text is draggable by default this prevents Ctrl-a select all, 
   which causes the drag image to consist of all text on the screen */
* {
    user-select: none;
}

body {
    font-family: Segoe UI, sans-serif;
    font-size: 1vw;
    background-color:black;
    color: white;
    /* default left and right borders are set to 8px is set 
    to 0 or else menus will clipped left and right by 8px */
    margin: 8px 0 0 0; 
}

.darkmode {
    background-color:black;
}

.lightMode {
    background-color:#444444;
}

html, body, #dndmenu, #my-panel {
    overflow-x: hidden;
    /* overflow-y: hidden; */  /* disabled temporarily for debugging window */
    height: 100%;
    width: 100%;
}

html::-webkit-scrollbar, body::-webkit-scrollbar, #dndmenu::-webkit-scrollbar, #my-panel::-webkit-scrollbar {
   display: none;
 
}


a:link, a:visited, a:link:active, a:visited:active {
  color: white;
  text-decoration: none;
  cursor: auto;
}

.Menu {
  border: 4px solid red 
}

.Menu:hover {
  border: 4px solid gold;
}

.MenuTitleBar {
    cursor: move; 
    background-color: red;
    color: white;
}

.TitleBarText {
    height: 100%;
    line-height: 40px;
    margin: auto;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* text-indent: 10px; */
}

/* Necessary: Sets titlebar color when anywhere on .Menu is being hovered.  */
/*.Menu:hover .resizer-r,
.Menu:hover .resizer-l,
.Menu:hover .resizer-b,
.Menu:hover .resizer-t, */

.Menu:hover .MenuTitleBar
{
    background-color: gold;
    color: black;

} 




/* Placed on the right side of Menu */
.resizer-r {
    position: absolute;
    cursor: col-resize;
    height: calc(100% + 16px);
    right: -8px;
    top: -8px;
    width: 8px;
    background-color: rgba(0,0,0,0);
}

/* Placed on the left side of Menu */
.resizer-l {
    position: absolute;
    cursor: col-resize;
    height: calc(100% + 16px);
    left: -8px;
    top: -8px;
    width: 8px;
    background-color: rgba(0,0,0,0);
}


/* Placed at the bottom side of Menu */
.resizer-b {
    position: absolute;
    bottom: -8px;
    cursor: row-resize;
    height: 8px;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0);
}

/* Placed at the bottom side of Menu */
.resizer-t {
    position: absolute;
    top: -8px;
    cursor: row-resize;
    height: 8px;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0);
}


.MenuPinBtn {
    /* left: 10px;
    top: 3px; */
    background-color: red;
    border: 1px solid transparent; 

}

.MenuPinBtn:hover {
    cursor: pointer;
    background-color: gold;    
    border: 1px solid black;
}

.Menu:hover .MenuPinBtn {
    background-color: gold;
}


.MenuArrowBtn {
    cursor: pointer;
    background-color: red;
}
.MenuArrowBtn:hover {
    cursor: pointer;
    background-color: #e6c300 !important;
}
.Menu:hover .MenuArrowBtn {
    background-color: gold;
}



.MenuCloseBtn {
    cursor: pointer;
    background-color: brown;
}
.MenuCloseBtn:hover {
    cursor: pointer;
    background-color:  #e6c300 !important; 
}

.EmbeddedMenuButton, #tabbtn, #historybtn {
    color: white;
    cursor: pointer;
    background-color: #840a01;
}
.EmbeddedMenuButton:hover, #tabbtn:hover, #historybtn:hover {
    color: black !important;
    background-color: #ff9100 !important;
}

.RecentlyModified {
    font-family: Segoe UI, sans-serif;
    font-size: 1vw;
    margin-left: 20px;
    width: 166px;
    border: 2px solid black;
    outline: none;
    color: white;
    cursor: pointer;
    background-color: #840a01;
}

.RecentlyModified:hover {
    color: black; 
    background-color: #ff9100;
}

option {
    font-family: Segoe UI, sans-serif;
    font-size: 1vw;
    color: white;
    cursor: pointer;
    background-color: #840a01;
}


#search {
    background-color: #970c02;
    cursor: pointer;
    /* border-radius: 15px; */
}

#search:hover {
    background-color: #FF9100;
    /* rgb(132, 10, 1); */
}

.search-not-found {
    cursor: pointer;
    color: wheat;
}

.search-not-found:hover {
    color: orange;
    background-color: #AF0404;
}

.loadButton {
    background-color: #840a01;

}

.loadButton:hover {
    background-color: #FF9100;
    color: black;
}

.PlusMinusButton {
    cursor:pointer;
}
 
.draggable {
   border: 1px solid red; 
   width: 250px;
   height: 100px;
   text-align: center;
   padding: 20px;
   /* cursor: move; */
   position: relative;
}

.hoverBGColor {
    background-color:green
}

/* applies to all classes starting with string "icon" */
[class^="icon"] {
/*  width: 24px; */
/*  height: 24px; */
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
  /* fill: #fff; */
}

.draggable .drag-mask, .drag-mask {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 0px;
   height: 0px;
   background-color: rgba(0,0,0,0.2);
   z-index: 9999;
}

/* --------------------------- freeze elements during dragging --------------------------- */
.disable-pointer-events {
    pointer-events: none;
    
}


.frozen-menu  {
  border: 4px solid gold;
}

.frozen-menutitlebar
{
    background-color: gold;
    color: black;
} 

.frozen-menupinbtn,.frozen-menupinbtn:hover,
.frozen-MenuArrowBtn,.frozen-MenuArrowBtn:hover {
    background-color: gold;
}


/* On menu fix color of thumb and resizer */
.frozen-menu .drop-zone-floating::-webkit-scrollbar-thumb
{
    background-color: #ccad00; /* color of thumb: same as titlebar: red with gold on hover */

}

.frozen-menu .drop-zone-floating::-webkit-resizer {
    background: gold;
}



/* --------------------------- end freeze  ----------------------------------------------- */


/* --------------------------- start drop-zone --------------------------- */




.drop-zone-floating {
    max-height: 80vh; 
    /* Kept for aesthetic */
    padding-bottom: 5px;
    text-align: left; /* text-align is an inherited property */
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: auto; 

    resize: both;

    grid-auto-flow: column;
    position: relative; /* so that an empty dropzone can have it's blank element positioned absolutely */
}

.drop-zone-embedded {
    text-align: left; /* text-align is an inherited property */
    /* for some reason without this padding scroll bar appears whenever dragging occurs. Maybe box-sizing? */
    padding: 0px 15px 5px 15px; /* 15px padding takes up too much space */
    box-sizing: border-box;
    /* https://www.w3schools.com/cssref/css3_pr_overflow-y.asp (see "Property Values" at bottom for defaults and explanations) */
    /* overflow-y: auto: Should cause a scrolling mechanism to be provided for overflowing boxes, but not otherwise */
    overflow-x: hidden;
    overflow-y: auto; 

    min-width: 0;
    width: auto;
    resize: none;

    grid-auto-flow: column;

    position: relative; /* so that an empty dropzone can have it's blank element positioned absolutely */
}
/* --------------------------- end drop-zone --------------------------- */

/* --------------------------- scrollbars --------------------------- */
						  
.drop-zone-floating::-webkit-scrollbar-track
{
	background-color: transparent; /* color of  track */
}

.drop-zone-floating::-webkit-scrollbar
{
	width: 15px; /* width of the entire scrollbar */
	background-color: transparent;
}

/* thumb hovering can only occur after menu has been hovered and so is set below */
.drop-zone-floating::-webkit-scrollbar-thumb
{
    background-color: #cc0000; /* color of thumb: same as titlebar: red with gold on hover */

}

.drop-zone-floating::-webkit-resizer {
    background: red;
}



/* Necessary: On menu hover set color of thumb */
.Menu:hover .drop-zone-floating::-webkit-scrollbar-thumb
{
    background-color: #ccad00; /* color of thumb: same as titlebar: red with gold on hover */

}

.Menu:hover .drop-zone-floating::-webkit-resizer {
    background: gold;
}


/* Necessary: On menu hover set color of thumb on hover over thumb */
.Menu:hover .drop-zone-floating::-webkit-scrollbar-thumb:hover
{
    background-color: #b39800; /* color of thumb: same as titlebar: red with gold on hover */

}



.drop-zone-embedded::-webkit-scrollbar-track
{
    background-color: transparent; /* color of  track */
}

.drop-zone-embedded::-webkit-scrollbar
{
	width: 10px; /* width of the entire scrollbar */
	background-color: transparent;
}


.drop-zone-embedded::-webkit-scrollbar-thumb
{
    background-color: #e6e6e6; /* color of thumb: same as titlebar: red with gold on hover */

}

/* On embedded dropzone hover set color of thumb  */
.drop-zone-embedded::-webkit-scrollbar-thumb:hover
{
    background-color: #cccccc; /* color of thumb: same as titlebar: red with gold on hover */

}

/* --------------------------- end scrollbars --------------------------- */

/* --------------------------- fade alert --------------------------- */

.fade-alert {
    color: yellow;
    white-space: nowrap;
    animation-name: fadeout;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    0% { opacity: 1;
	 visibility: visible;
       }
    100% { opacity: 0;
	   visibility: hidden;
	 }
}


/* --------------------------- end fade alert --------------------------- */





@keyframes avoid-flicker-disappear {
  from {background-color: orange;}
  to {background-color: transparent;}
}


.dummy-element {
    height: 100%;
    background-color: transparent;
}

.dummy-element_drag_leave {
    height: 100%;
    background-color: transparent;
}

.dummy-element_drag_over {
    height: 100%;
    width: 100%;
    /* the purpose of the gradient is for the lastincol dummy elements, which extend beyond 4px */
    background: linear-gradient(to bottom, orange 4px, rgba(0,0,0,0) 4px, rgba(0,0,0,0) 100%);
    /* background-color: orange;    */

}

/* this class is added to turn off hover highlight in :link, :tablink, and :historylink when dragging is occuring:
:class (if @currentDragState "link-element no-hover" "link-element") */
.no-hover {} 


.link-element {
    height: 100%;
    cursor: default;
}

.link-element:not(.no-hover):hover {
    /* !important is to override the :background-color conditional ctrl-click selection highlight which will lock out all background-color settings */
    border: 2px solid white !important;
    cursor: pointer;
} 

.link-element-modifier-down {
    height: 100%;
    cursor: default;
}

.link-element-modifier-down:not(.no-hover):hover {
    /* !important is to override the :background-color condional ctrl-click selection highlight which will lock out all background-color settings */
    border: 2px solid red !important;
    cursor: pointer;
} 


.folderbox-element {
    height: 100%;
    cursor: default;
}

.folderbox-element:not(.no-hover):hover {
    /* background-color: darkgrey; */
    border: 2px solid white !important;
    cursor: pointer;
}

.folderbox-element-modifier-down {
    height: 100%;
    cursor: default;
}

.folderbox-element-modifier-down:not(.no-hover):hover {
    /* background-color: darkgrey; */
    border: 2px solid red !important;
    cursor: pointer;
}


.folderbox-element_drag_over {
    cursor: default;
    background-color: #004d99;
}




.drop-zone.highlight {
    border: 3px solid green;
}

.drag-box {
  position: fixed;
  background-color: rgba(0,0,0,0.2);
  z-index: 999;
  height: 0px;
  width: 0px;
}


.drop-marker {
   width: 100%;
   height: 4px;
   margin-bottom: 5px;
   background-color: orange;
}



.container {
   width: 800px;
   margin: 0 auto;
   border: 1px solid #ededed;
}


.box {
   width: 100%;
   height: 60px;
   margin-bottom: 5px;
   padding-top: 30px;
   color: white;
}


.clear {
  clear: both;
}

.red-box {
   background-color: #d62a3b;
}

.blue-box {
   background-color: #486fad;
}

.draggable {
   margin-bottom: 10px;
}


.btn {
   margin: 20px;
   padding: 20px;
   background-color: #ededed;
   border: 1px solid #ccc;
}


/* ---------- Context Menu Styles ------------------------------------------------------------------------------------------ */

/* For google closure goog.ui.Menu and goog.ui.MenuItems taken from:
 * https://github.com/google/closure-library/blob/master/closure/goog/css/menu.css 
 */

/*
 * Standard styling for menus created by goog.ui.MenuRenderer.
 */

.goog-menu {
  background: #fff;
  border-color: #ccc #666 #666 #ccc;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  font: normal 13px Arial, sans-serif;
  margin: 0;
  outline: none;
  padding: 4px 0;
  position: absolute;
  z-index: 20000; /* Arbitrary, but some apps depend on it... */
}

/* Taken from:
 * https://github.com/google/closure-library/blob/master/closure/goog/css/menuitem.css
 */

.goog-menuitem {
  color: #000;
  font: normal 13px Arial, sans-serif;
  list-style: none;
  margin: 0;
  /* 28px on the left for icon or checkbox; 7em on the right for shortcut. */
  padding: 4px 7em 4px 28px;
  white-space: nowrap;
}

/* BiDi override for the resting state. */
/* @noflip */
.goog-menuitem.goog-menuitem-rtl {
  /* Flip left/right padding for BiDi. */
  padding-left: 7em;
  padding-right: 28px;
}

/* If a menu doesn't have checkable items or items with icons, remove padding. */
.goog-menu-nocheckbox .goog-menuitem,
.goog-menu-noicon .goog-menuitem {
  padding-left: 12px;
}

/*
 * If a menu doesn't have items with shortcuts, leave just enough room for
 * submenu arrows, if they are rendered.
 */
.goog-menu-noaccel .goog-menuitem {
  padding-right: 20px;
}

.goog-menuitem-content {
  color: #000;
  font: normal 13px Arial, sans-serif;
}

/* State: disabled. */
.goog-menuitem-disabled .goog-menuitem-accel,
.goog-menuitem-disabled .goog-menuitem-content {
  color: #ccc !important;
}
.goog-menuitem-disabled .goog-menuitem-icon {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}

/* State: hover. */
.goog-menuitem-highlight,
.goog-menuitem-hover {
  background-color: #d6e9f8;
  /* Use an explicit top and bottom border so that the selection is visible
   * in high contrast mode. */
  border-color: #d6e9f8;
  border-style: dotted;
  border-width: 1px 0;
  padding-bottom: 3px;
  padding-top: 3px;
}

/* State: selected/checked. */
.goog-menuitem-checkbox,
.goog-menuitem-icon {
  background-repeat: no-repeat;
  height: 16px;
  left: 6px;
  position: absolute;
  right: auto;
  vertical-align: middle;
  width: 16px;
}

/* BiDi override for the selected/checked state. */
/* @noflip */
.goog-menuitem-rtl .goog-menuitem-checkbox,
.goog-menuitem-rtl .goog-menuitem-icon {
  /* Flip left/right positioning. */
  left: auto;
  right: 6px;
}

.goog-option-selected .goog-menuitem-checkbox,
.goog-option-selected .goog-menuitem-icon {
  /* Client apps may override the URL at which they serve the sprite. */
  background: url(editortoolbar.png) no-repeat -512px 0;
}

/* Keyboard shortcut ("accelerator") style. */
.goog-menuitem-accel {
  color: #999;
  /* Keyboard shortcuts are untranslated; always left-to-right. */
  /* @noflip */ direction: ltr;
  left: auto;
  padding: 0 6px;
  position: absolute;
  right: 0;
  text-align: right;
}

/* BiDi override for shortcut style. */
/* @noflip */
.goog-menuitem-rtl .goog-menuitem-accel {
  /* Flip left/right positioning and text alignment. */
  left: 0;
  right: auto;
  text-align: left;
}

/* Mnemonic styles. */
.goog-menuitem-mnemonic-hint {
  text-decoration: underline;
}

.goog-menuitem-mnemonic-separator {
  color: #999;
  font-size: 12px;
  padding-left: 4px;
}

/*
 * https://github.com/google/closure-library/blob/master/closure/goog/css/menuseparator.css
 */

/*
 * Standard styling for menus created by goog.ui.MenuSeparatorRenderer.
 */

@provide 'goog.css.menuseparator';

.goog-menuseparator {
  border-top: 1px solid #ccc;
  margin: 4px 0;
  padding: 0;
}


/*
 * https://github.com/google/closure-library/blob/master/closure/goog/css/submenu.css
 */

/*
 * Standard styling for menus created by goog.ui.SubMenuRenderer.
 */
/* State: resting. */
/* @noflip */
.goog-submenu-arrow {
  color: #000;
  left: auto;
  padding-right: 6px;
  position: absolute;
  right: 0;
  text-align: right;
}

/* BiDi override. */
/* @noflip */
.goog-menuitem-rtl .goog-submenu-arrow {
  text-align: left;
  left: 0;
  right: auto;
  padding-left: 6px;
}

/* State: disabled. */
.goog-menuitem-disabled .goog-submenu-arrow {
  color: #ccc;
}


/* ---------- Modal Dialog Styles ------------------------------------------------------------------------------------------ */

/*
 * https://github.com/google/closure-library/blob/master/closure/goog/css/dialog.css
 */

/*
 * Standard styling for goog.ui.Dialog.
 */

@provide 'goog.css.dialog';

/* modified */
.modal-dialog {
  background: white; /* #c1d9ff; */
  border: 1px solid #3a5774; 
  color: #000;
  padding: 4px;
  border-radius: 8px;
  position: absolute;
  z-index: 1000000; /* custom, the menus start in single digits, max val is signed 32bit ~ 2billion. goog.menu context menu is 20000 above */
}

.modal-dialog a,
.modal-dialog a:link,
.modal-dialog a:visited  {
  color: #06c;
  cursor: pointer;
}

/* modified */
.modal-dialog-bg {
  background: #666;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 900000; /* custom, the menus start in single digits, max val is signed 32bit ~ 2billion. goog.menu context menu is 20000 above */
}

/* modified */
.modal-dialog-title {
  background: white; /* #e0edfe; */
  color: #000;
  cursor: pointer;
  font-size: 120%;
  margin-left: 10px;
  /* font-weight: bold; */

  /* Add padding on the right to ensure the close button has room. */
  padding: 8px 31px 8px 8px;

  position: relative;
  _zoom: 1; /* Ensures proper width in IE6 RTL. */
}


.modal-dialog-title-close {
  /* Client apps may override the URL at which they serve the sprite. */
  background: #e0edfe url(editortoolbar.png) no-repeat -528px 0;
  cursor: default;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 15px;
  vertical-align: middle;
}


.modal-dialog-buttons,
.modal-dialog-content {
  background-color: #fff;
  padding: 8px;
}

/* custom */
.modal-dialog-content{
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;		      
}

/* custom */
.modal-dialog-buttons{
    display: flex;
    justify-content: flex-end;
}

/* custom */
.modal-dialog-buttons button
{
    min-width: 5.14em;
    cursor: pointer;
    border: 1px solid;
    border-radius: 4px;
    border-color: #DADCE0;
    background-color: white;
    padding: 8px 16px;
}

/* modified */
.goog-buttonset-default
{
    border: none;
    font-weight: bold;
    color: white;
    background-color: #1A73E8 !important;

}

/* custom */
.goog-buttonset-default:hover {
    background-color: #3081EA !important;
}


/* ---------- Modal Underline Animations------------------------------------------------------------------------------------ */



input.inputDialog {
    display: block;
    margin-top: 10px;
    outline: none;
    border: none;
    background-color: #F1F3F4;
    padding: 8px;
}

input.inputDialog:invalid {
    background-color: pink;
}


.flexbox
{
  	display: flex;
}



/* Underline styles */
.underline {
	display: block;
	position: relative; /* so abs pos works */
}

/* Fade in */
.underline::after {
	content: '';
	position: absolute;
	bottom: 0; /* set to bottom of element otherwise will be on top of element */
	left: 0; /* overlap element, otherwise will be to right of element */
	width: 100%;
	height: 2px;
	background-color: blue;
	transition: transform 300ms;
}


/* Scale from center */
.underline::after {
	transform: scale(0);
	transform-origin: center;
}


/* add or remove .runanimation to .underline div to add or remove underline */
.underline.runanimation:after {
    	transform: scale(1);
}

/* ======================================================================================================= */
/* Help Dialog Styles */

.helpDialogGrid {
    display: grid;
    grid-auto-flow: row; /* row is default */
    gap: 2vw;
    grid-template-columns: max-content 40vw;
    /* grid-template-rows: 1fr 1fr; */
}

