body {
    font-family: Segoe UI, sans-serif;
    font-size: 1vw;
}

.header {
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 4px black;
    font-size: 3vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.tableLabel {
    /* text-decoration-line: underline; */
    align-self: center;
    justify-self: center;
    font-variant: small-caps;
    font-weight: bold;
    white-space:nowrap;
}


.emptyTableField {
    background: repeating-linear-gradient(45deg,#eee, #eee 10px, #ccc 10px, #ccc 20px)
}

#helpDialog, #resetDialog {
    width: 30%;
    text-align: justify;
}
#helpDialog > p, #resetDialog > p {
    margin: auto;
}


#updateNotification {
    margin-left: 1vw;
    font-variant: small-caps;
    color: blue;
    visibility: hidden;
}

/* make arrows in spinner control permanent */
input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

input[type=number]{
    font-size: 1.5vw;
}

input[type=checkbox]{
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.optionGridContainer
{
    padding: 20px 20px 20px 20px;
    display: grid;
    gap: 1vw 1vw;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr;
    background-color: lightgrey;
}

.optionGridItem
{
    /* default in grid for align-self is stretch which causes image distortion */
    align-items: center;
    padding: 5px 5px 5px 5px;
    display: flex;
    justify-content: center; 
    background-color: white;
}



img {
    cursor: pointer;
    /* default in grid for align-self is stretch which causes image distortion */
    align-self: center;
    margin-left: 3px;
    
}

.themeOption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


/* Select Theme --------------------------------------------------------------------- */
.selector {
    font-size: 1.5vw;
    background-color: #eeeeee;

}



/* Slider --------------------------------------------------------------------------- */
/* https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
